/* Add your custom styles here */
body {
    /* background: url('../images/pexels-3544567.jpg'); */
    font-family: Arial, sans-serif;
  }
  
  header {
    /* background-image: url('../images/pexels-3544567.jpg'); */
    background-size: cover;
    color:#414141;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  section {
    padding: 40px 0;
  }
  
  #about {
    background-color: #f9f9f9;
  }
  
  #current-board img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  footer {
    color: #414141;
  }
  