<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>About - Indian Spinners Association</title> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add your custom CSS styles here */
        /* Style for board member details */
        .board-member {
            margin-bottom: 20px;
        }

        body{
            background-color: #ffffff;
            color: black;
        }
        hr {
            border-color: #007bff; /* Change this color to the desired color */
            border-width: 2px; /* Optional: Modify the border width */
        }

        li{
            font-size: 1.2em;
        }
    </style>
</head>

<body>
    {% include 'navbar1.html' %}
    <div class="container mt-4">
        <h1>Objectives ISA</h1>
        <hr style="color: #3A5795;">
        <h3></h3>
        
        <ol>
            <li>To engage on continuous basis with raw material vendors (PSF, VSF and ASF) to ensure that they charge fair price to spinning mills.</li>
            <li>Helping mills in contesting Anti dumping investigations initiated at the instance to local raw material manufacturers.</li>
            <li>To give budget proposals to Central Govt.</li>
            <li>To continuously engage with Textile commissioner on matters related to Technology Upgradation fund.</li>
            <li>To engage with DGFT and Ministry of commerce on matters related to Foreign Trade.</li>
        </ol>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% include 'footer.html' %}
</html>
