<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indian Spinners Association - Members 2023-24</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Optional custom styles */
    body {
      background-color: #ffffff;
      color:black;
      padding-top: 0px;
    }
    th {
      color:black;
    }
    td {
      color:black;
    }
  </style>
</head>
<body>
  {% include 'navbar1.html' %}
  <div class="container">
    <h2>List of Members of Indian Spinners Association for the Year 2023-24</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>SR. NO</th>
          <th>NAME OF MEMBER</th>
          <th>CONTACT PERSON</th>
        </tr>
      </thead>
      <tbody>
        <!-- Member data -->
        <tr>
          <td>1</td>
          <td>RSWM LTD PO. KHARIGRAM DIST BHILWALA</td>
          <td>SHRI PRAKASH MAHESHWARI</td>
        </tr>
        <!-- Add other rows similarly -->
        <!-- Example: -->
        <tr>
          <td>2</td>
          <td>SUTLEJ TEXTILE & INDUSTRIES LTD</td>
          <td>SHRI S K KHANDELIA</td>
        </tr>
        <tr>
          <td>3</td>
          <td>BANSWARA SYNTEX LTD GOPAL BHAWAN, 5TH FLOOR 199, PRINCESS STREET MUMBAI 400002</td>
          <td>SHRI RAKESH MEHRA</td>
        </tr>
        <tr>
          <td>4</td>
          <td>SANGAM INDIA LTD PB NO.126, VILLAGE-BALYAKALAM CHITTOR ROAD, BHILWARA 311001</td>
          <td>DR. S N MODANI</td>
        </tr>
        <tr>
          <td>5</td>
          <td>PALLAVA TEXTILES P LTD UNIT OF PALLAVA GROUP 24, SANKARI MAIN ROAD PALLIPALAYAM. ERODE 638006 TN</td>
          <td>SHRI DURAI PALLIASMI</td>
        </tr>
        <tr>
          <td>6</td>
          <td>PEE VEE TEXTILES LTD 205, NEELKANTH 98, MARINE DRIVE MUMBAI 400002</td>
          <td>SHRI B R JAIN</td>
        </tr>
        <tr>
          <td>7</td>
          <td>GIMATEX INDUSTRIES LTD RAM MANDIR WARD HINGANGHAT 442301 DIST WARDHA MAHARASHTRA</td>
          <td>SHRI PRASHANT MOHOTA</td>
        </tr>
        <tr>
          <td>8</td>
          <td>STAR COTSPIN LTD 1008 D MALL NETAJI SUBHASH PLACE DELHI 110034</td>
          <td>SHRI S K CHHAJER</td>
        </tr>
        <tr>
          <td>9</td>
          <td>SURYALATA SPG MILLS LTD 105, SURYA TOWER 1ST FLOOR SARDAR PATEL ROAD SECUNDERABAD 500003 ARREAR PENDING 90000</td>
          <td>SHRI MAHENDRA AGRAWAL</td>
        </tr>
        <tr>
          <td>10</td>
          <td>APM INDUSTRIES LTD SP-147, RIICO INDUSTRIAL AREA BHIWADI 301019 DIST ALWAR</td>
          <td>SHRI HARIRAM SHARMA</td>
        </tr>
        <!-- <tr>
          <td>11</td>
          <td>VISAKA INDUSTRIES LTD VISAKA TOWER  S P ROAD N H NO.8 SECUNDERABAD 500003</td>
          <td>82560</td>
          <td>45000</td>
          <td></td>
          <td>SHRI SANTOSH WANCHA</td>
          <td>7330666911</td>
          <td></td>
        </tr>
        <tr>
          <td>12</td>
          <td>ARVIND CONSYN INDIA LTD PLOT NO.1-12, PHASE II SHRI LAXCMI CO OP IND ESTATE HATKANGLE 416109 DIST KOLHAPUR MAHARASHTRA</td>
          <td>22300</td>
          <td>25000</td>
          <td></td>
          <td>SHRI SHYAM SUNDER MARDA MP</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>13</td>
          <td>SIDDHARTH SUPER SPINNING MILLS A 104 GOKULARCADE SUBHASH ROAD VILE PARLE EAST MUMBAI 400057</td>
          <td>108000</td>
          <td>45000</td>
          <td></td>
          <td>SHRI VISHAL AGARWAL</td>
          <td>9967031869</td>
          <td></td>
        </tr>
        <tr>
          <td>14</td>
          <td>RELIANCE CHEMOTEX INDUSTRIES LTD 27 JOLLY MAKER CHAMBER NO 2 NARIMAN POINT MUMBAI 400021</td>
          <td>62000</td>
          <td>25000</td>
          <td></td>
          <td>SHRI CHANDRASHEKHAR</td>
          <td>9820036734</td>
          <td></td>
        </tr>
        <tr>
          <td>15</td>
          <td>ANKUR UDYOG LTD NAKAHA NO 2 NEAR FERTILIZER CO GORAKHPUR 273007 UP</td>
          <td>65664</td>
          <td>25000</td>
          <td></td>
          <td>SHRI ASHOK JALAN</td>
          <td>9415245021</td>
          <td></td>
        </tr> -->
  
        <!-- Repeat this structure for all members -->
      </tbody>
    </table>
    <p></p>
  </div>

  <!-- Bootstrap JS, jQuery, Popper.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
