<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>

    <style>
        a:hover{
            color: ##00adb5;
            font-weight: bold;
            font-style: italic;
            font-size: 1.2em; /* Increase the font size */
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index">Indian Spinners Association</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="member">Member List</a>
            </li>
        </ul>
    </div>
</nav>
</body>