<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
</head>

<!-- Navbar -->
<nav style="background-color: #548075;" class="navbar navbar-expand-lg navbar-light">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a style="color:white;" class="nav-link" href="index">Home</a>
        </li>
        <li class="nav-item">
          <a style="color:white;" class="nav-link" href="history">History</a>
        </li>
        <li class="nav-item">
          <a style="color:white;" class="nav-link" href="member">List of Members</a>
        </li>
        <li class="nav-item">
          <a style="color:white;" class="nav-link" href="services">Activities/Services Offered</a>
        </li>
        <li class="nav-item">
          <a style="color:white;" class="nav-link" href="activities"></a>
        </li>
      </ul>
    </div>
  </nav>