<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>

    <style>
        a:hover{
            color: ##00adb5;
            font-weight: bold;
            font-style: italic;
            font-size: 1em; /* Increase the font size */
        }
    </style>

</head>
<!-- ye body me data to badiya dikhta hey style="background-color: #548075;" -->  
<!-- style="background-color: #ffffff;"
style="background-color: #548075;" -->
<body style="background-color: #ffffff;"> 
<nav style="background-color: #548075;" class="navbar navbar-expand-lg navbar-light   ">
    <!-- <a class="navbar-brand" href="index">Indian Spinners Association</a> -->
    <button   class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="history">History</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="about">Objective</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="member">List of Members</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" href="services">Activities/Services Offered</a>
            </li>
        </ul>
    </div>
</nav>
</body>