<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objectives - Indian Spinners Association</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Add your custom CSS styles here */
        /* Style the footer */
        body{
            background-color: #414141;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <h1>Objectives of ISA</h1>
        <hr>
        <ol>
            <li>
                <h4>To engage on a continuous basis with raw material vendors (PSF, VSF, and ASF) to ensure that they charge a fair price to spinning mills.</h4>
            </li>
            <li>
                <h4>Helping mills in contesting anti-dumping investigations initiated at the instance of local raw material manufacturers.</h4>
            </li>
            <li>
                <h4>To give budget proposals to the Central Government.</h4>
            </li>
            <li>
                <h4>To continuously engage with the Textile Commissioner on matters related to the Technology Upgradation Fund.</h4>
            </li>
            <li>
                <h4>To engage with DGFT and Ministry of Commerce on matters related to Foreign Trade.</h4>
            </li>
        </ol>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
