<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prashant Mohota - President, Indian Spinners Association</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Additional CSS styles can be added here */
    /* For styling purposes */
    .profile-image {
      max-width: 100%;
      height: 75%;
    }
    
  </style>
</head>
<body style="background-color: #ffffff;">
  {% include 'navbar.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="../static/images/member1.jpg" alt="Prashant Mohota" class="img-fluid profile-image">
    </div>
    <div class="col-md-8">
      <h1>Prashant Mohota</h1>
      <h2>President, Indian Spinners Association</h2>
      <p style="font-size:25px;">In a significant development during the Annual General Meeting on September 22, 2023, Prashant Mohota, the Managing Director of Gimatex Industries Pvt. Ltd., has assumed the Presidency of the Indian Spinners Association. Gimatex Industries, renowned for its integrated textile plants in Hinganghat near Nagpur and Ahmedabad, boasting 225,000 spindles, sees Mohota's election as a testament to his industry leadership.</p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% include 'footer.html' %}
</html>
